les types build in

Sequences : 
Tuples
Liste
Bytes
Strings
And do on.
A sequence is a finite set indexed from 0 to n-1 if the sequence contains n elements.

In [20]:
S = range(10)
S[0]
len(S)
type(S)
s = tuple(S)
type(s)

tuple

In [17]:
#Memebership testinf: 
0 in S
0 not in S

False

In [12]:
S.index(9)

9

In [9]:
S.count(S)

0

In [13]:
'x'*30
#shallow copy

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [24]:
#slicing : returns a new object
s1 = s[0::3]
s1

(0, 3, 6, 9)

In [15]:
#add a step, i.e. one over two
S[::2]

range(0, 10, 2)

In [1]:
#tuple is immutable, on the contrary of a list
#it is a sequence-like object
#parenthesis are optional
t= ()
type(t)
t

tuple

In [14]:
t = (1,)
tuple(t)

(1,)

In [3]:
t = 1,

In [4]:
1 in t

True

In [5]:
t[:0]

()

In [6]:
a = list(t)

In [7]:
type(a)

list

In [9]:
a[0] = False

In [11]:
t= tuple(a)

In [12]:
t

(False,)

tuple is used for tuple unpacking. in a tuple, a and b, join these two variables to the ones of same lenght

In [15]:
(a,b,c) = [3,4,5]

In [16]:
a

3

In [17]:
c

5

In [18]:
a,b,c =[3,4,5]

In [20]:
a=list(range(10))

In [21]:
x, *y =a

In [22]:
x

0

In [23]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]